{{>header}}

<script>

function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>

<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <h1>
        Bienvenido
    </h1>
    {{!-- {{{display id text execObject}}} --}}
    

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'General')" id="defOpen">General</button>
  <button class="tablinks" onclick="openTab(event, 'Procedure')">Procedure</button>
  <button class="tablinks" onclick="openTab(event, 'Social')">Social</button>
  <button class="tablinks" onclick="openTab(event, 'Recomendaciones')">Recomendaciones</button>
</div>

{{{display execObject docObject ios auths insts projs recommends}}}
<script>document.getElementById("defOpen").click();</script>

</div>
<br>
<br>

{{>footer}}