{{>header}}
<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <h1>
        Bienvenido a la pagina de inicio
    </h1>
    <h2>
        Calcule su promedio
    </h2>
    <form action="/calculos" method="post">
        <p>Nombre del estudiante:</p>
        <input type="text" name="nombre">
        <br>
        <p>Nota matematicas:</p>
        <input type="number" name="nota1">
        <br>
        <p>Nota ingles:</p>
        <input type="number" name="nota2">
        <br>
        <p>Nota programacion:</p>
        <input type="number" name="nota3">
        <br>    
        <br>
        <button class="btn btn-dark">CALCULAR</button>
        <br>
    </form>
    <br>
</div>
<br>
<br>
{{>footer}}