{{>header}}
<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <h2>
        Bienvenido: {{nombre}}
    </h2>
    <h5>
        Su rol es: {{rol}}
    </h5>
    <h2>{{{listar usuario}}}</h2>
</div>
<br>
<br>
{{>footer}}