{{>header}}
<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <h1>Executions</h1>
    {{{execlist executions}}}
    <br>
    {{!-- <h1>Documents</h1>
    {{{doclist documents}}} --}}
</div>
<br>

{{>footer}}