{{>header}}

<div class="container text-center" style="border-width: 1px;border: solid; border-color: black">
    <h2>Prueba obtenerUsuarioPorCedula</h2>
    <p>{{obtenerUsuarioPorCedula cedula}}</p>
    <br>
    <br>
    <h2>Prueba obtenerCursoPorId</h2>
    <p>{{obtenerCursoPorId id}}</p>
    <br>
    <br>
    <h2>Prueba obtenerMatriculaPorCedulaId</h2>
    <p>{{obtenerMatriculaPorCedulaId cedula id}}</p>
    <br>
    <br>
</div>

<br>
{{>footer}}